/* Reset default browser styles */
body, h1, h2, p, ul, li, img {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 150px;
  }
  
  nav {
    margin-left: auto;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 1rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  .main-news {
    display: flex;
    padding: 2rem;
    align-items: center;
    background-color: #f5f5f5;
  }
  
  .headline {
    flex: 1;
  }
  
  .headline h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .headline p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
  
  .headline a {
    
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }
  
  .news-image img {
    max-width: 100%;
    height: auto;
  }
  
  
  
  .news-item {
    flex: 1;
    max-width: 30%;
    margin-bottom: 2rem;
  }
  
  .news-item h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .news-item p {
    font-size: 1.1rem;
  }
  
  .news-item a {
    display: block;
    margin-top: 0.5rem;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
  }
  
  img{
    padding-left: 25%;
    top:50%;
  }